<section>
  <div class='card ms-2'>
      <div class='card-body'>
        <div class='row'>
          <div class='col-md-6'>
            <h5 class='displey-4'>Vitalii Lazorenko</h5>
          </div><div class='col-md-6'>
            <h5 class='displey-4 text-end me-2'>Resume project</h5>
          </div>
        </div>
      </div>
    </div>
    <div class='mt-5 ms-4'>
      <h3>
        Список сторінок
      </h3>
      <p class=''>
        Мобільні телефони можуть розряджатися з багатьох
        причин. <br />
        Хоча ми розуміємо, що батарея нашого
        мобільного телефону може бути крихкою.
      </p>
    </div>
  </div>

    <section class="row">
      <div class="col-md-2">
        <div class="d-grid gap-4">
          <a
          class='btn btn-primary'
          href='/task22'
          target="_blank"
          >task22</a>

          <a
          class='btn btn-primary'
          href='/task31'
          target="_blank"
          >task31</a>

          <a
          class='btn btn-primary'
          href='/shophome'
          target="_blank"
          >shophome</a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="d-grid gap-4">
          <a
          class='btn btn-primary'
          href='/shopproduct'
          target="_blank"
          >shopproduct</a>

          <a
          class='btn btn-primary'
          href='/shopnews'
          target="_blank"
          >shopnews</a>

          <a
          class='btn btn-primary'
          href='/shoporder'
          target="_blank"
          >shoporder</a> 
        </div>
      </div>
      <div class="col-md-2">
        <div class="d-grid gap-4">
          <a
          class='btn btn-primary'
          href='/shopcart'
          target="_blank"
          >shopcart</a>

          <a
          class='btn btn-primary'
          href='/shopprofile'
          target="_blank"
          >shopprofile</a>

          <a
          class='btn btn-primary'
          href='/shopreview'
          target="_blank"
          >shopreview</a>  
        </div>
      </div>
    </section> 

 </div>

</section>