html {
  max-width: 1000px;
  font-family: 'Gill Sans Extrabold', sans-serif;
}

body {
  margin: 32px;
  background: #fff;
}

main,
header,
footer,
nav {
  margin: 32px;
}

section {
  padding: 16px;
}
