<section>
  <div class='card text-bg-success text-center mt-4 mb-4'>
    <div class='card-body'>
      <h2 class='mb-4'>{{service.title}}</h2>
      <p class='mb-4'>{{service.description}}</p>
      {{#each service.buttons}}
        <a
          class='btn btn-primary'
          href='{{this.link}}'
        >{{this.text}}</a>
      {{/each}}
    </div>
  </div>
</section>